.mainLayout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
	grid-template-columns: repeat(6,1fr);
}

.mainLayout>header, .mainLayout>footer{
    grid-column: span 6;
}

.mainLayout>main{
    grid-column: span 5;
}

.mainLayout.mainLayout>*{
    border: 1px solid gray;
}
