.mainLayout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: [myHeader] 80px [myMainPage] 1fr [myFooter] 50px;
    grid-template-columns: [myAsideMenu] 150px [myMainPage] 1fr;
    background-color: #fba9058a;
}

.mainLayout>header, .mainLayout>footer{
    grid-column: span 6;
}

.mainLayout>main{
    grid-column: span 5;
    height: 100%;
    overflow: auto;
}
.mainLayout>aside{
    background-color: #fba9058a;
    background-image: url(https://preview.pixlr.com/images/800wm/100/1/1001452205.jpg) ;
    opacity: 0.6;
    
}
.mainLayout>header{
    background-color: #fba9058a; 
}
